.container {
  padding: 0 1.25rem;
}

/* Hero */
.hero {
  padding-bottom: 3.4rem;
}

.hero img {
  width: 100%;
  margin-top: 115px;
  margin-bottom: 54px;
}

.hero .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 7px;
}

.hero h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 105.2%;
  margin-bottom: 30px;
}

.hero input {
  width: 100%;
  border: 2px solid #c7c7c7;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 15px;
}
/* end Hero */

/* showcase global */
.showcase-1,
.showcase-2 {
  text-align: center;
  padding: 4.375rem 0rem 2.5rem 0rem;
}

.showcase-2 {
  background: var(--light);
}

.showcase-1 img,
.showcase-2 img {
  width: 100%;
}

.showcase-1 h4,
.showcase-2 h4,
.showcase-1 p,
.showcase-2 p {
  margin-bottom: 25px;
}

.showcase-1 h4,
.showcase-2 h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px !important;
  line-height: 105.2%;
}

.showcase-1 p,
.showcase-2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155.2%;
}
/* end showcase global */

/* services */
.services {
  padding: 4.375rem 0rem 2.5rem 0rem;
}

.services-card {
  background: white;
  border-radius: 10px;
  border: solid 1px #3f3d56;
  padding: 40px 30px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
}

.services-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.service-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.service-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #9b9b9b;
}
/* end services */

/* testimonial */
.testimonial {
  background: var(--purple);
  color: white;
  padding: 4.375rem 0rem;
}

.testimonial .btns {
  display: flex;
  text-align: center;
}

.testimonial .btns div + div {
  display: flex;
  margin-left: 8px;
}

.btn-1,
.btn-3 {
  opacity: 0.5;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  cursor: pointer;
}
/* end testimonial */

/* pricing */
.pricing {
  padding: 4.375rem 0rem;
}

.pricing-title {
  margin-bottom: 20px;
}

.pricing-subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 105.2%;
}

.pricing ul {
  list-style: none;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.pricing-card {
  background: white;
  border-radius: 10px;
  border: 1px solid var(--purple);
  margin-top: 30px;
  padding: 28px;
}

.pricing-card .title {
  font-style: normal;
  font-weight: normal;
  font-size: 23.2711px;
  line-height: 27px;
  margin-bottom: 17.2px;
}

.pricing-card .price {
  font-weight: normal;
  font-size: 18.6169px;
  line-height: 22px;
  letter-spacing: 0.04em;
}

.pricing-card .price span {
  font-style: normal;
  font-weight: bold;
  font-size: 37.2338px;
  line-height: 44px;
}

.pricing-card .subtitle {
  margin-bottom: 20px;
}

.pricing-card .btn-secondary {
  background: var(--purple);
  font-weight: bold;
  font-size: 18.6169px;
  line-height: 22px;
  text-align: center;
  color: white;
  padding: 14px 84px;
  border-radius: 10px;
  border: none;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.pricing-card ul li img {
  margin-right: 10px;
}

.pricing .selected {
  background: var(--purple);
  color: white;
}

.pricing .selected .btn-secondary {
  color: var(--purple);
  background: white;
}
/* end pricing */

/* teams */
.team {
  background: var(--light);
  padding: 4.375rem 0rem;
}

.team-subtitle {
  margin-bottom: 50px;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

.team-subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 105.2%;
}

.team-card {
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.15);
}

.team-card-img img {
  border-radius: 50%;
  width: 220px;
  margin-bottom: 30px;
}

.team-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 8px;
}

.team-card-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 3px;
}
/* end teams */

/* blog */
.blog {
  padding: 4.375rem 0rem;
}

.blog-title {
  margin-bottom: 20px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.blog-card {
  max-width: 327px;
  background: white;
  margin: 0 auto;
  padding-bottom: 20px;
}

.blog-card-img {
  max-width: 100%;
}

.blog-card-title {
  margin: 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.blog-card-img img {
  max-width: 100%;
}

.blog-card {
  display: grid;
  gap: 1rem;
}

.blog-card .flex {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.blog-card .flex img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-card .name {
  font-size: 11.8559px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  display: inline-flex;
  background: white;
  color: var(--dark);
  border-radius: 5px;
  border: 1px solid var(--dark);
  padding: 15px 37px;
  margin-top: 20px;
}

.btn-secondary:hover {
  cursor: pointer;
}
/* end blog */

/* get int touch */
.get-in-touch {
  background: var(--light);
  padding: 4.375rem 0rem;
}

.git-subtitle {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 20px;
  line-height: 165.2%;
  text-align: center;
}

.git-grid {
  display: grid;
  gap: 20px;
}

.git-card {
  background: white;
  box-shadow: 0px 3.28199px 6.56398px rgba(0, 0, 0, 0.15);
  padding: 16px;
}

.git-card .flex {
  display: flex;
  align-items: center;
}

.git-card .flex img {
  height: 56px;
  width: auto;
  margin-right: 32px;
}

.git-card .flex .title {
  font-style: normal;
  font-weight: bold;
  font-size: 20.5124px;
  line-height: 24px;
  margin-bottom: 8.21px;
}

.git-card .flex .subtitle {
  font-weight: normal;
  font-size: 14.769px;
  line-height: 17px;
  color: #9b9b9b;
}
/* end get int touch */
