:root {
  --purple: #b8b4e4;
  --green: #2cc1bd;
  --dark: #3f3d56;
  --light: #eae8fe;
  --bg-color: #f9f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--dark);
}

h2 {
  text-align: center;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 105.2%;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105.2%;
}

.container {
  max-width: 1375px;
  margin: 0 auto;
}

.hero {
  background: var(--purple);
  color: white;
  width: 100%;
}

.navbar {
  background: var(--purple);
  border: none;
  height: 60px;
  position: fixed;
  width: 100%;
}

.russo {
  font-family: "Russo One", sans-serif;
}

.logo {
  color: white;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 105.2%;
}

.navbar .container .menu {
  display: flex;
  justify-content: space-between;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}

.kiloa {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140.62%;
  margin-top: 4px;
}

.btn-primary {
  display: block;
  width: 100%;
  background: var(--green);
  padding: 1rem;
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  border-radius: 5px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
}

footer {
  background: var(--dark);
  color: #ffffff;
  padding: 3.125rem 1.25rem;
}

footer p {
  margin-bottom: 4px;
}

footer hr {
  border-top: 1px solid #ffffff;
}

footer h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 105.2%;
  margin-top: 10px;
  margin-bottom: 50px;
}

footer .BlogPost {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer small {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

footer .BlogPost-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer .BlogPost p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer,
footer .links {
  display: flex;
}

footer .links {
  justify-content: space-between;
  max-width: 550px;
}

footer .links div .b {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.footer p {
  margin: 0px 15px;
  font-size: 14px;
}

.footer {
  background: #393754;
  color: white;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  .flex-ol {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 64px;
  }

  footer .links {
    margin-right: auto;
    margin-left: auto;
  }

  footer .BlogPost {
    margin: 0;
  }

  footer h1 {
    margin-bottom: 0;
  }

  footer hr {
    border-right: 1px solid #ffffff;
    transform: rotate(90deg);
    width: 100%;
  }
}

@media (min-width: 1200px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 3rem 5rem;
  }

  footer .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .flex-ol {
    margin-bottom: 0px;
  }
}
